::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: linear-gradient(to top,  #362323, #1c1818);

}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, #362323,#1c1818);

}
